<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GeneroWSPortBinding" />
        <binding name="VideojuegoWSPortBinding" receiveTimeout="00:1:00" sendTimeout="00:1:00"
      maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/GameSoftWS/GeneroWS"
        binding="basicHttpBinding" bindingConfiguration="GeneroWSPortBinding"
        contract="GameSoftRef.GeneroWS" name="GeneroWSPort" />
      <endpoint address="http://localhost:8080/GameSoftWS/VideojuegoWS"
        binding="basicHttpBinding" bindingConfiguration="VideojuegoWSPortBinding"
        contract="GameSoftRef.VideojuegoWS" name="VideojuegoWSPort" />
    </client>
  </system.serviceModel>
</configuration>